go.mod
go.sum

# Specific binaries
GPIOTEST
test_quats_64_to_py_tf
wand1
wand2
JU_led_mesh
test_GPIO2

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max
logfile
oplog.txt

# Python environment
pyenv
/classifier/logs

# txt files from logging

gyro_data.txt
LinAcc_data.txt


# Windoze:
/~$RaspiWiring.pptx
/test_parse_quats.exe
/priWand.code-workspace


test_record_spell

/matlab/processQuat_feb22.asv
